body {
  background: radial-gradient(#555555, #222);
  background-size: 100vw 100vh;
}

.fan {
  list-style: none;
  padding: 0;
  margin: 0;
}
.fan li {
  padding: 2.5em;
  width: 40em;
  height: 3em;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: 90%;
  border-radius: 1em 60% 60% 1em;
  transition: 3s;
}
.fan li::before {
  content: "";
  display: block;
  background-color: #222;
  width: 1em;
  height: 1em;
  position: absolute;
  right: 10%;
  top: calc(50% - 0.5em);
  border-radius: 100%;
}
.fan li:nth-child(1) {
  background-color: #0f0404;
  transform: rotate(0deg);
  box-shadow: 0 0 0.5em 0.25em #232323;
  color: #a3a3a3;
}
.fan li:nth-child(2) {
  background-color: #1b0707;
  transform: rotate(0deg);
  box-shadow: 0 0 0.5em 0.25em #232323;
  color: #ababab;
}
.fan li:nth-child(3) {
  background-color: #270a0a;
  transform: rotate(0deg);
  box-shadow: 0 0 0.5em 0.25em #242424;
  color: #b3b3b3;
}
.fan li:nth-child(4) {
  background-color: #330d0d;
  transform: rotate(0deg);
  box-shadow: 0 0 0.5em 0.25em #252525;
  color: #bababa;
}
.fan li:nth-child(5) {
  background-color: #3f1010;
  transform: rotate(0deg);
  box-shadow: 0 0 0.5em 0.25em #252525;
  color: #c2c2c2;
}
.fan li:nth-child(6) {
  background-color: #4c1313;
  transform: rotate(0deg);
  box-shadow: 0 0 0.5em 0.25em #262626;
  color: #c9c9c9;
}
.fan li:nth-child(7) {
  background-color: #581616;
  transform: rotate(0deg);
  box-shadow: 0 0 0.5em 0.25em #262626;
  color: #d1d1d1;
}
.fan li:nth-child(8) {
  background-color: #641919;
  transform: rotate(0deg);
  box-shadow: 0 0 0.5em 0.25em #272727;
  color: #d9d9d9;
}
.fan li:nth-child(9) {
  background-color: #701d1d;
  transform: rotate(0deg);
  box-shadow: 0 0 0.5em 0.25em #282828;
  color: #e0e0e0;
}
.fan li:nth-child(10) {
  background-color: #7c2020;
  transform: rotate(0deg);
  box-shadow: 0 0 0.5em 0.25em #282828;
  color: #e8e8e8;
}
.fan li:nth-child(11) {
  background-color: #892323;
  transform: rotate(0deg);
  box-shadow: 0 0 0.5em 0.25em #292929;
  color: #f0f0f0;
}
.fan li:nth-child(12) {
  background-color: #952626;
  transform: rotate(0deg);
  box-shadow: 0 0 0.5em 0.25em #2a2a2a;
  color: #f7f7f7;
}
.fan li:nth-child(13) {
  background-color: #a12929;
  transform: rotate(0deg);
  box-shadow: 0 0 0.5em 0.25em #2a2a2a;
  color: white;
}
.fan li h2, .fan li p {
  margin: 0;
}
.fan:hover li:nth-child(1) {
  transform: rotate(90deg);
}
.fan:hover li:nth-child(2) {
  transform: rotate(75deg);
}
.fan:hover li:nth-child(3) {
  transform: rotate(60deg);
}
.fan:hover li:nth-child(4) {
  transform: rotate(45deg);
}
.fan:hover li:nth-child(5) {
  transform: rotate(30deg);
}
.fan:hover li:nth-child(6) {
  transform: rotate(15deg);
}
.fan:hover li:nth-child(7) {
  transform: rotate(0deg);
}
.fan:hover li:nth-child(8) {
  transform: rotate(-15deg);
}
.fan:hover li:nth-child(9) {
  transform: rotate(-30deg);
}
.fan:hover li:nth-child(10) {
  transform: rotate(-45deg);
}
.fan:hover li:nth-child(11) {
  transform: rotate(-60deg);
}
.fan:hover li:nth-child(12) {
  transform: rotate(-75deg);
}
.fan:hover li:nth-child(13) {
  transform: rotate(-90deg);
}
/*# sourceMappingURL=style.css.map */